<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Elar - إلار
        link(rel="stylesheet", href="css/bootstrap3.min.css")
        link(rel="stylesheet", href="css/bootstrap3-rtl.min.css")
        link(rel="stylesheet", href="css/all.min.css")
        link(rel="stylesheet", href="css/owl.carousel.min.css")
        link(rel="stylesheet", href="css/owl.theme.default.min.css")
        link(rel="stylesheet", href="css/style__home-rtl.css")
    body

        .menuTriger
            i.fas.fa-bars

        .navover
        .sideNav
            .opt
                .lang
                    a(href="index-en.html")
                        |English
                        img(src="images/en-lang.png", alt="")
                .close1
                    i.fas.fa-times
            ul
                li.drop
                    i.fas.fa-bars
                    span
                        |جميع الأقسام
                    i.fas.fa-chevron-down.arr

                    ul.subMenu
                        li
                            a(href="#")
                                button.btn.btn-info(type='button', data-toggle='collapse', data-target='#demo') مستلزمات رجالية
                                i.fas.fa-chevron-left.arr-left
                                #demo.collapse
                                    ul.sub
                                        li
                                            a(href="#")
                                                |ملابس
                                        li
                                            a(href="#")
                                                |إكسسوارات
                                        li
                                            a(href="#")
                                                |حقائب
                                        li
                                            a(href="#")
                                                |أحذية
                                        li
                                            a(href="#")
                                                |نظارات
                                        li
                                            a(href="#")
                                                |مكياج
                                        li
                                            a(href="#")
                                                |عطور
                                        li
                                            a(href="#")
                                                |أدوات العناية
                                        li
                                            a(href="#")
                                                |أجهزة العنايه
                                        li
                                            a(href="#")
                                                |أخري
                        li
                            a(href="#")
                                button.btn.btn-info(type='button', data-toggle='collapse', data-target='#demo2') مستلزمات نسائية
                                i.fas.fa-chevron-left.arr-left
                                #demo2.collapse
                                    ul.sub
                                        li
                                            a(href="#")
                                                |ملابس
                                        li
                                            a(href="#")
                                                |إكسسوارات
                                        li
                                            a(href="#")
                                                |حقائب
                                        li
                                            a(href="#")
                                                |أحذية
                                        li
                                            a(href="#")
                                                |نظارات
                                        li
                                            a(href="#")
                                                |مكياج
                                        li
                                            a(href="#")
                                                |عطور
                                        li
                                            a(href="#")
                                                |أدوات العناية
                                        li
                                            a(href="#")
                                                |أجهزة العنايه
                                        li
                                            a(href="#")
                                                |أخري
                            li
                                a(href="#")
                                    button.btn.btn-info(type='button', data-toggle='collapse', data-target='#demo3') عطور
                                    i.fas.fa-chevron-left.arr-left
                                    #demo3.collapse
                                        ul.sub
                                            li
                                                a(href="#")
                                                    |ملابس
                                            li
                                                a(href="#")
                                                    |إكسسوارات
                                            li
                                                a(href="#")
                                                    |حقائب
                                            li
                                                a(href="#")
                                                    |أحذية
                                            li
                                                a(href="#")
                                                    |نظارات
                                            li
                                                a(href="#")
                                                    |مكياج
                                            li
                                                a(href="#")
                                                    |عطور
                                            li
                                                a(href="#")
                                                    |أدوات العناية
                                            li
                                                a(href="#")
                                                    |أجهزة العنايه
                                            li
                                                a(href="#")
                                                    |أخري

                li
                    a(href="#").link
                        |تخفيضات
                li
                    a(href="#").link
                        |الماركات
                li
                    a(href="#").link
                        |معلومات الشحن والتوصيل
                li
                    a(href="#").link
                        |ارجاع الطلب
                li
                    a(href="#").link
                        |إتصل بنا

        .upnav
            .container
                .content
                    .search
                        input(type="text" class="navSearch" placeholder="البحث...")
                        button.searchBtn
                            i(class="fas fa-search searchIco")
                    .logo
                        a(href="#")
                            img(src="images/logo.png", alt="LOGO" class="img-responsive")
                    .options
                        a(href="index-en.html").lang
                            |English
                            img(src="images/en-lang.png", alt="EN - Lang")
                        .user
                            a(href="#").in
                                i.fas.fa-user-alt
                                | تسجيل دخول / 
                            a(href="#").up
                                |تسجيل جديد
                            a(href="#").cart
                                i.fas.fa-shopping-bag
                                span.noti
                                    |0


        .links
            .container
                ul
                    li.drop
                        i.fas.fa-bars
                        span
                            |جميع الأقسام
                        i.fas.fa-chevron-down.ar

                        ul.subMenu
                            li
                                a(href="#")
                                    |مستلزمات رجالية
                                    i.fas.fa-chevron-left
                                ul.sub
                                    li
                                        a(href="#")
                                            |ملابس
                                    li
                                        a(href="#")
                                            |إكسسوارات
                                    li
                                        a(href="#")
                                            |حقائب
                                    li
                                        a(href="#")
                                            |أحذية
                                    li
                                        a(href="#")
                                            |نظارات
                                    li
                                        a(href="#")
                                            |مكياج
                                    li
                                        a(href="#")
                                            |عطور
                                    li
                                        a(href="#")
                                            |أدوات العناية
                                    li
                                        a(href="#")
                                            |أجهزة العنايه
                                    li
                                        a(href="#")
                                            |أخري
                            li
                                a(href="#")
                                    |مستلزمات نسائية
                                    i.fas.fa-chevron-left
                                ul.sub
                                    li
                                        a(href="#")
                                            |ملابس
                                    li
                                        a(href="#")
                                            |إكسسوارات
                                    li
                                        a(href="#")
                                            |حقائب
                                    li
                                        a(href="#")
                                            |أحذية
                                    li
                                        a(href="#")
                                            |نظارات
                                    li
                                        a(href="#")
                                            |مكياج
                                    li
                                        a(href="#")
                                            |عطور
                                    li
                                        a(href="#")
                                            |أدوات العناية
                                    li
                                        a(href="#")
                                            |أجهزة العنايه
                                    li
                                        a(href="#")
                                            |أخري
                                li
                                    a(href="#")
                                        |العطور
                                        i.fas.fa-chevron-left
                                    ul.sub
                                        li
                                            a(href="#")
                                                |ملابس
                                        li
                                            a(href="#")
                                                |إكسسوارات
                                        li
                                            a(href="#")
                                                |حقائب
                                        li
                                            a(href="#")
                                                |أحذية
                                        li
                                            a(href="#")
                                                |نظارات
                                        li
                                            a(href="#")
                                                |مكياج
                                        li
                                            a(href="#")
                                                |عطور
                                        li
                                            a(href="#")
                                                |أدوات العناية
                                        li
                                            a(href="#")
                                                |أجهزة العنايه
                                        li
                                            a(href="#")
                                                |أخري

                    li
                        a(href="#").link
                            |تخفيضات
                    li
                        a(href="#").link
                            |الماركات
                    li
                        a(href="#").link
                            |معلومات الشحن والتوصيل
                    li
                        a(href="#").link
                            |ارجاع الطلب
                    li
                        a(href="#").link
                            |إتصل بنا
        

        //- Start Carousel
        .car-sec
            .container
                .owl-carousel.owl-theme
                    .item
                        a(href="#")
                            img(src="images/slider.jpg", alt="")
                    .item
                        a(href="#")
                            img(src="images/slider.jpg", alt="")
                    .item
                        a(href="#")
                            img(src="images/slider.jpg", alt="")
                    .item
                        a(href="#")
                            img(src="images/slider.jpg", alt="")
        //- End OF Carousel


        //- Start Categories
        .categ
            .container
                .row
                    each val in [1, 2, 3]
                        .col-md-4
                            a(href="#")
                                .cat
                                    img(src="images/cat" + val + ".jpg", alt="").img-responsive
                                    .details
                                        p.title مستلزمات رجالية
                                        span.shop تسوق الان
        //- End Of Categ
        
        //- Start Disc
        .disc.cus
            .container
                .disc-head
                    p تخفيضات
                    a(href="#") عرض الكل

                .owl-carousel.owl-theme
                    each val in [1, 2, 3, 4, 5]
                        .item
                            .dis-val %10
                            a(href="#")
                                img(src="images/disc" + val +".jpg", alt="").img-responsive
                            a(href="#")
                                p.pro-title إسم المنتج
                            span.discount 120 SAR
                            span.price 100 SAR
        //- End Of Disc


        //- Start Banner
        .banner
            .container
                a(href="#")
                    .pic
                        img(src="images/banner.jpg", alt="").img-responsive
        //- End Of Banner

        //- Recently Arrive
        //- Start Discounting
        .disc.cus
            .container
                .disc-head
                    p وصل حديثاً
                    a(href="#") عرض الكل

                .owl-carousel.owl-theme
                    each val in [1, 2, 3, 4, 5]
                        .item
                            .dis-val %10
                            a(href="#")
                                img(src="images/disc" + val +".jpg", alt="")
                            a(href="#")
                                p.pro-title إسم المنتج
                            span.discount 120 SAR
                            span.price 100 SAR
                    .item
                            .dis-val %10
                            a(href="#")
                                img(src="images/disc4.jpg", alt="")
                            p.pro-title إسم المنتج
                            span.discount 120 SAR
                            span.price 100 SAR
        //- End Of Dsic

        //- Start Clients

        .clients.padd-y
            .container
                .client-slider
                    .owl-carousel.owl-theme
                        each val in [1,2,3,4,5,6,7]
                            .item
                                a(href="#")
                                    img(src="images/client" + val + ".jpg", alt="")
                        .item
                                a(href="#")
                                    img(src="images/client5.jpg", alt="")

        //- End Of Clients

        //- Start Of Newsletter

        .newsletter
            .container
                .content.text-center
                    p اشترك الآن في القائمة البريدية مجانًا
                    span ليصلك جديد منتجاتنا وعروضنا
                    .sub
                        input(type="text" placeholder="أدخل بريدك الالكتروني")
                        button
                            i(class="fas fa-check")

        //- End Of Newsletter


        //- Start Of Footer

        footer
            .container
                .social
                    a(href="#")
                        i.fab.fa-twitter
                    a(href="#")
                        i.fab.fa-instagram
                    a(href="#")
                        i.fab.fa-snapchat-ghost

                ul.footNav
                    li
                        a(href="#") من نحن
                    li
                        a(href="#") معلومات الشحن والتوصيل
                    li
                        a(href="#") الخصوصية
                    li
                        a(href="#") شروط الالستخدام
                    li
                        a(href="#") ارجاع الطلب
                    li
                        a(href="#") الشركات
                    li
                        a(href="#") قسائم الهدايا
                    li
                        a(href="#") نظام العموله
                    li
                        a(href="#") القائمة البريدية
                    li
                        a(href="#") إتصل بنا
                
                .pay
                    a(href="#")
                        img(src="images/payment.png", alt="")
                
                .copyright
                    p جميع الحقوق محفوظة، ايلار 2019 ©
                    a(href="#")
                        | - تصميم وتطوير
                        img(src="images/tasawk.png", alt="")
        .toTop
            .fas.fa-chevron-up

        //- End OF Footer


        script(src="js/jquery.min.js")
        script(src="js/bootstrap.min.js")
        script(src="js/owl.carousel.min.js")
        script(src="js/main.js")