<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Elar - إلار
        link(rel="stylesheet", href="css/bootstrap3.min.css")
        link(rel="stylesheet", href="css/all.min.css")
        link(rel="stylesheet", href="css/owl.carousel.min.css")
        link(rel="stylesheet", href="css/owl.theme.default.min.css")
        link(rel="stylesheet", href="css/style__home-ltr.css")
    body

        .menuTriger
            i.fas.fa-bars

        .navover
        .sideNav
            .opt
                .lang
                    a(href="index.html")
                        |عربي
                        img(src="images/ar-lang.png", alt="")
                .close1
                    i.fas.fa-times

            ul
                li.drop
                    i.fas.fa-bars
                    span
                        |All Sections
                    i.fas.fa-chevron-down.arr

                    ul.subMenu
                        li
                            a(href="#")
                                button.btn.btn-info(type='button', data-toggle='collapse', data-target='#demo') Men Things
                                i.fas.fa-chevron-left.arr-left
                                #demo.collapse
                                    ul.sub
                                        li
                                            a(href="#")
                                                |Clothes
                                        li
                                            a(href="#")
                                                |Accessories
                                        li
                                            a(href="#")
                                                |Bags
                                        li
                                            a(href="#")
                                                |Shoes
                                        li
                                            a(href="#")
                                                |Sunglasses
                                        li
                                            a(href="#")
                                                |Makeup
                                        li
                                            a(href="#")
                                                |Perfumes
                                        li
                                            a(href="#")
                                                |Care Things
                                        li
                                            a(href="#")
                                                |Care Systems
                                        li
                                            a(href="#")
                                                |More
                        li
                            a(href="#")
                                button.btn.btn-info(type='button', data-toggle='collapse', data-target='#demo2') Women Things
                                i.fas.fa-chevron-left.arr-left
                                #demo2.collapse
                                    ul.sub
                                        li
                                            a(href="#")
                                                |Clothes
                                        li
                                            a(href="#")
                                                |Accessories
                                        li
                                            a(href="#")
                                                |Bags
                                        li
                                            a(href="#")
                                                |Shoes
                                        li
                                            a(href="#")
                                                |Sunglasses
                                        li
                                            a(href="#")
                                                |Makeup
                                        li
                                            a(href="#")
                                                |Perfumes
                                        li
                                            a(href="#")
                                                |Care Things
                                        li
                                            a(href="#")
                                                |Care Systems
                                        li
                                            a(href="#")
                                                |More
                            li
                                a(href="#")
                                    button.btn.btn-info(type='button', data-toggle='collapse', data-target='#demo3') Perfumes
                                    i.fas.fa-chevron-left.arr-left
                                    #demo3.collapse
                                        ul.sub
                                            li
                                                a(href="#")
                                                    |Clothes
                                            li
                                                a(href="#")
                                                    |Accessories
                                            li
                                                a(href="#")
                                                    |Bags
                                            li
                                                a(href="#")
                                                    |Shoes
                                            li
                                                a(href="#")
                                                    |Sunglasses
                                            li
                                                a(href="#")
                                                    |Makeup
                                            li
                                                a(href="#")
                                                    |Perfumes
                                            li
                                                a(href="#")
                                                    |Care Things
                                            li
                                                a(href="#")
                                                    |Care Systems
                                            li
                                                a(href="#")
                                                    |More

                li
                    a(href="#").link
                        |Discounts
                li
                    a(href="#").link
                        |Marks
                li
                    a(href="#").link
                        |Delivery Information
                li
                    a(href="#").link
                        |Return Order
                li
                    a(href="#").link
                        |Contact Us

        .upnav
            .container
                .content
                    .search
                        input(type="text" class="navSearch" placeholder="Search")
                        button.searchBtn
                            i(class="fas fa-search searchIco")
                    .logo
                        a(href="#")
                            img(src="images/logo.png", alt="LOGO" class="img-responsive")
                    .options
                        a(href="index.html").lang
                            |عربي
                            img(src="images/ar-lang.png", alt="EN - Lang")
                        .user
                            a(href="#").in
                                i.fas.fa-user-alt
                                | Sign In / 
                            a(href="#").up
                                |Sign Up
                            a(href="#").cart
                                i.fas.fa-shopping-bag
                                span.noti
                                    |0


        .links
            .container
                ul
                    li.drop
                        i.fas.fa-bars
                        span
                            |All Sections
                        i.fas.fa-chevron-down.ar

                        ul.subMenu
                            li
                                a(href="#")
                                    |Men Things
                                    i.fas.fa-chevron-right
                                ul.sub
                                    li
                                        a(href="#")
                                            |Clothes
                                    li
                                        a(href="#")
                                            |Accessories
                                    li
                                        a(href="#")
                                            |Bags
                                    li
                                        a(href="#")
                                            |Shoes
                                    li
                                        a(href="#")
                                            |Sunglasses
                                    li
                                        a(href="#")
                                            |Makeup
                                    li
                                        a(href="#")
                                            |Perfumes
                                    li
                                        a(href="#")
                                            |Care Tools
                                    li
                                        a(href="#")
                                            |Care Systems
                                    li
                                        a(href="#")
                                            |More
                            li
                                a(href="#")
                                    |Women Things
                                    i.fas.fa-chevron-right
                                ul.sub
                                    li
                                        a(href="#")
                                            |Clothes
                                    li
                                        a(href="#")
                                            |Accessories
                                    li
                                        a(href="#")
                                            |Bags
                                    li
                                        a(href="#")
                                            |Shoes
                                    li
                                        a(href="#")
                                            |Sunglasses
                                    li
                                        a(href="#")
                                            |Makeup
                                    li
                                        a(href="#")
                                            |Perfumes
                                    li
                                        a(href="#")
                                            |Care Tools
                                    li
                                        a(href="#")
                                            |Care Systems
                                    li
                                        a(href="#")
                                            |More
                                li
                                    a(href="#")
                                        |Perfumes
                                        i.fas.fa-chevron-right
                                    ul.sub
                                        li
                                            a(href="#")
                                                |Clothes
                                        li
                                            a(href="#")
                                                |Accessories
                                        li
                                            a(href="#")
                                                |Bags
                                        li
                                            a(href="#")
                                                |Shoes
                                        li
                                            a(href="#")
                                                |Sunglasses
                                        li
                                            a(href="#")
                                                |Makeup
                                        li
                                            a(href="#")
                                                |Perfumes
                                        li
                                            a(href="#")
                                                |Care Tools
                                        li
                                            a(href="#")
                                                |Care Systems
                                        li
                                            a(href="#")
                                                |More

                    li
                        a(href="#").link
                            |Discounts
                    li
                        a(href="#").link
                            |Marks
                    li
                        a(href="#").link
                            |Delivery Information
                    li
                        a(href="#").link
                            |Return Order
                    li
                        a(href="#").link
                            |Contact Us
        

        //- Start Carousel
        .car-sec
            .container
                .owl-carousel.owl-theme
                    .item
                        a(href="#")
                            img(src="images/slider.jpg", alt="")
                    .item
                        a(href="#")
                            img(src="images/slider.jpg", alt="")
                    .item
                        a(href="#")
                            img(src="images/slider.jpg", alt="")
                    .item
                        a(href="#")
                            img(src="images/slider.jpg", alt="")
        //- End OF Carousel


        //- Start Categories
        .categ
            .container
                .row
                    each val in [1, 2, 3]
                        .col-md-4
                            a(href="#")
                                .cat
                                    img(src="images/cat" + val + ".jpg", alt="").img-responsive
                                    .details
                                        p.title Men Things
                                        span.shop Shop Now
        //- End Of Categ
        
        //- Start Disc
        .disc.cus
            .container
                .disc-head
                    p Discounts
                    a(href="#") Show All

                .owl-carousel.owl-theme
                    each val in [1, 2, 3, 4, 5]
                        .item
                            .dis-val %10
                            a(href="#")
                                img(src="images/disc" + val +".jpg", alt="").img-responsive
                            a(href="#")
                                p.pro-title Product Name
                            span.discount 120 SAR
                            span.price 100 SAR
        //- End Of Disc


        //- Start Banner
        .banner
            .container
                a(href="#")
                    .pic
                        img(src="images/banner.jpg", alt="").img-responsive
        //- End Of Banner

        //- Recently Arrive
        //- Start Discounting
        .disc.cus
            .container
                .disc-head
                    p Recently Arrive
                    a(href="#") Show All

                .owl-carousel.owl-theme
                    each val in [1, 2, 3, 4, 5]
                        .item
                            .dis-val %10
                            a(href="#")
                                img(src="images/disc" + val +".jpg", alt="")
                            a(href="#")
                                p.pro-title Product Name
                            span.discount 120 SAR
                            span.price 100 SAR
                    .item
                            .dis-val %10
                            a(href="#")
                                img(src="images/disc4.jpg", alt="")
                            p.pro-title Product Name
                            span.discount 120 SAR
                            span.price 100 SAR
        //- End Of Dsic

        //- Start Clients

        .clients.padd-y
            .container
                .client-slider
                    .owl-carousel.owl-theme
                        each val in [1,2,3,4,5,6,7]
                            .item
                                a(href="#")
                                    img(src="images/client" + val + ".jpg", alt="")
                        .item
                                a(href="#")
                                    img(src="images/client5.jpg", alt="")

        //- End Of Clients

        //- Start Of Newsletter

        .newsletter
            .container
                .content.text-center
                    p Subscribe Now For Free
                    span To Get Our Latest News
                    .sub
                        input(type="text" placeholder="e-mail")
                        button
                            i(class="fas fa-check")

        //- End Of Newsletter


        //- Start Of Footer

        footer
            .container
                .social
                    a(href="#")
                        i.fab.fa-twitter
                    a(href="#")
                        i.fab.fa-instagram
                    a(href="#")
                        i.fab.fa-snapchat-ghost

                ul.footNav
                    li
                        a(href="#") Who Us
                    li
                        a(href="#") Delivery Informations
                    li
                        a(href="#") Privacy
                    li
                        a(href="#") Usage Terms
                    li
                        a(href="#") Return Order
                    li
                        a(href="#") Companies
                    li
                        a(href="#") Gifts
                    li
                        a(href="#") Fee System
                    li
                        a(href="#") Mailbox
                    li
                        a(href="#") Contact Us
                
                .pay
                    a(href="#")
                        img(src="images/payment.png", alt="")
                
                .copyright
                    p All rights reserved for ILAR 2019 ©
                    a(href="#")
                        | - Design And Develop
                        img(src="images/tasawk.png", alt="")
        .toTop
            .fas.fa-chevron-up

        //- End OF Footer


        script(src="js/jquery.min.js")
        script(src="js/bootstrap.min.js")
        script(src="js/owl.carousel.min.js")
        script(src="js/main.js")